.flex {
    display: flex;
    justify-content: center;
}

#logo {
    height: 170px;
    width: 450px;
}

img {
    position: relative;
    top: -120px;   
}

.linebreak {
    background-color: rgba(119, 117, 117, 0.144);
    height: 1px;
    width: 100vw;
}