
//////// Header Styles ////////////
.flex {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

#logo {
    height: 170px;
    width: 450px;
}

.logo-img {
    position: relative;
    top: -120px;   
}

//////// Styled Linebreak //////////
.linebreak {
    background-color: rgba(119, 117, 117, 0.144);
    height: 1px;
    width: 100vw;
}

///////// Navbar Styles ////////////
.navbar {
    height: 100px;
}

.navbar-nav {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    height: inherit;
    display: flex;
}

.nav-link {
    text-decoration: none;
    color: rgba($color: #282828, $alpha: 1.0);
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 300;
    cursor: pointer;
}

.donate-btn {
    position: relative;
    left: 5%;
}


////////// Above the fold section //////////
.aboveFold {
    background-image: url("../assets/landing-page-photo.jpg");
    background-size: cover;
    background-position: left center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 700px;

    .img-fade {
        background-color: rgba(54, 54, 54, 0.46);
        height: inherit;
        width: inherit;
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            font-family: 'Montserrat', sans-serif;
            color: azure;
            font-weight: 600;
            font-size: 4rem;
            text-align: center;
            padding-left: 100px;
            padding-right: 100px;
        }
    }
    
    
}



/////////// At A Glance Section ////////////
.atAGlance-grid {
    display: flex;
    height: 900px;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.atAGlance-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 90px;
    height: 700px;
    width: 90vw;
}

.atAGlance-img {
    width: 550px;
    border-radius: 12px;
}

.glanceText {
    font-family: 'Montserrat', sans-serif;
    h2 {
        font-weight: 700;
        font-size: 2.5rem;
        color: rgb(129, 129, 129);
        max-width: 510px;
    }
    p {
        line-height: 1.5rem;
        font-weight: 700;
        max-width: 612px;
    }
    h3 {
        font-weight: 300;
        font-size: 1.8rem;
        color: rgb(245, 85, 70);
    }
    .getInvolved {
        margin-top: 65px;
        width: 170px;
        height: 48px;
        background-color: rgb(245, 85, 70);
        transition: all 200ms linear;
        color: azure;
        border-style: none;
        border-radius: 5px;
        font-size: 0.8rem;
        cursor: pointer;
        letter-spacing: 2px;
        font-weight: 300;
    }
    .getInvolved:hover {
        background-color: rgb(16, 1, 0);
    }
}


////////// Activities Header Section ///////////
.activitiesHead {
    height: 384px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 234, 232);
    div {
        height: 184px;
        width: 1240px;
        background-color: rgb(247, 242, 242);
        border-radius: 15px;
        box-shadow: 1px 1px 20px rgba(85, 85, 85, 0.159);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Montserrat', sans-serif;
        h2 {
            font-size: 2.5rem;
            margin-top: 7px;
            margin-bottom: 20px;
        }
        p {
            margin-top: 0;
            margin-bottom: 16px;
            font-size: 1.25rem;
            color: rgb(245, 85, 70);
        }
    }
}


///////// Activities Body Section /////////////
.activitiesBody {
    height: 909px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.activityCard-box {
    height: 709px;
    width: 1260px;
    display: flex;
    gap: 10px;
}

.activityCard {
    font-family: 'Montserrat', sans-serif;
    img {
        width: 380px;
        height: 341px;
        object-fit: cover;
        box-shadow: 1px 1px 20px rgba(85, 85, 85, 0.516);
    }
    h2 {
        font-weight: 300;
        color: rgb(245, 85, 70);
        font-size: 2.3rem;
    }
    p {
        line-height: 1.5rem;
        font-weight: 600;
    }
}



///////// Contact Section ///////////
.contact {
    height: 195px;
    width: 100vw;
    background-color: rgb(245, 240, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    h2 {
        font-weight: 300;
        font-size: 3rem;
        margin-bottom: 0;
    }
    p {
        font-weight: 600;
        font-size: 1.2rem;
        margin-top: 15px;
    }
}


////////// Footer Image ////////////
.footerImage {
    height: 370px;
    width: 100vw;
    background-image: url("../assets/footer-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top -320px left;
}


/////////// Footer Section ///////////
footer {
    height: 200px;
    width: 100vw;
    background-color: rgb(245, 240, 238);
}

.footerNav {
    height: 120px;
    width: 100vw;
}

.footerNav-box {
    justify-content: start;
    align-items: center;
    margin-left: 90px;
}


//////// Copyright Section ///////////
.copyright {
    height: 79px;
    width: 100vw;
    display: flex;
    p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 0.7rem;
    }
}

.flex-c {
    justify-content: center;
    align-items: center;
}