body {
  margin: 0;
}

.flex {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#logo {
  height: 170px;
  width: 450px;
}

.logo-img {
  position: relative;
  top: -120px;
}

.linebreak {
  background-color: rgba(119, 117, 117, 0.144);
  height: 1px;
  width: 100vw;
}

.navbar {
  height: 100px;
}

.navbar-nav {
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-link {
  text-decoration: none;
  color: #282828;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 300;
  cursor: pointer;
}

.donate-btn {
  position: relative;
  left: 5%;
}

.aboveFold {
  background-image: url("../assets/landing-page-photo.jpg");
  background-size: cover;
  background-position: left center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 700px;
}

.aboveFold .img-fade {
  background-color: rgba(54, 54, 54, 0.46);
  height: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboveFold .img-fade h2 {
  font-family: 'Montserrat', sans-serif;
  color: azure;
  font-weight: 600;
  font-size: 4rem;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.atAGlance-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 900px;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.atAGlance-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 90px;
          column-gap: 90px;
  height: 700px;
  width: 90vw;
}

.atAGlance-img {
  width: 550px;
  border-radius: 12px;
}

.glanceText {
  font-family: 'Montserrat', sans-serif;
}

.glanceText h2 {
  font-weight: 700;
  font-size: 2.5rem;
  color: #818181;
  max-width: 510px;
}

.glanceText p {
  line-height: 1.5rem;
  font-weight: 700;
  max-width: 612px;
}

.glanceText h3 {
  font-weight: 300;
  font-size: 1.8rem;
  color: #f55546;
}

.glanceText .getInvolved {
  margin-top: 65px;
  width: 170px;
  height: 48px;
  background-color: #f55546;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  color: azure;
  border-style: none;
  border-radius: 5px;
  font-size: 0.8rem;
  cursor: pointer;
  letter-spacing: 2px;
  font-weight: 300;
}

.glanceText .getInvolved:hover {
  background-color: #100100;
}

.activitiesHead {
  height: 384px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fdeae8;
}

.activitiesHead div {
  height: 184px;
  width: 1240px;
  background-color: #f7f2f2;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 20px rgba(85, 85, 85, 0.159);
          box-shadow: 1px 1px 20px rgba(85, 85, 85, 0.159);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

.activitiesHead div h2 {
  font-size: 2.5rem;
  margin-top: 7px;
  margin-bottom: 20px;
}

.activitiesHead div p {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 1.25rem;
  color: #f55546;
}

.activitiesBody {
  height: 909px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.activityCard-box {
  height: 709px;
  width: 1260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.activityCard {
  font-family: 'Montserrat', sans-serif;
}

.activityCard img {
  width: 380px;
  height: 341px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 1px 1px 20px rgba(85, 85, 85, 0.516);
          box-shadow: 1px 1px 20px rgba(85, 85, 85, 0.516);
}

.activityCard h2 {
  font-weight: 300;
  color: #f55546;
  font-size: 2.3rem;
}

.activityCard p {
  line-height: 1.5rem;
  font-weight: 600;
}

.contact {
  height: 195px;
  width: 100vw;
  background-color: #f5f0ee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

.contact h2 {
  font-weight: 300;
  font-size: 3rem;
  margin-bottom: 0;
}

.contact p {
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 15px;
}

.footerImage {
  height: 370px;
  width: 100vw;
  background-image: url("../assets/footer-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top -320px left;
}

footer {
  height: 200px;
  width: 100vw;
  background-color: #f5f0ee;
}

.footerNav {
  height: 120px;
  width: 100vw;
}

.footerNav-box {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 90px;
}

.copyright {
  height: 79px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.copyright p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 0.7rem;
}

.flex-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=newstyles.css.map */